body {
  background: #d3e7f2;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

button {
  background: #afd7ed;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
  font-family: fantasy;
}

button:hover {
  background: #9cc5db;
}

input {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black;
  padding: 7px;
}

#general-box {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 2px solid #edf4f7;

}

#user-info {
  background: white;
  text-align: center;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 2px solid #edf4f7;
}

#logout {
  display: none;
}

#level-search {
  display: none;
}